

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#sketch-holder {
    display: flex;
    justify-content: center;
    margin: 50px;
}















